<html>
<head>
    <title>Apartment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="propertyManagerApp">
        <div ng-include='"/app/Partials/menu.html"'></div>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="margin-top: 0px;">Apartments</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchApartment">
                    </div>
                </div>
            </form>
            <button type="submit" style="float:left; margin-bottom:20px" class="btn btn-primary" ng-click="addOneClick()">Add</button>
            <table class="table-fill" style="float: left">
                <thead>
                    <tr>
                        <th style="width: 2%"></th>
                        <th class="text-left" style="width: 20%" ng-click="sortType = 'ApartmentNumber'; sortReverse = !sortReverse">
                            Apartment Number
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'ApartmentNumber' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'ApartmentNumber' && sortReverse"></i></span>
                        </th>
                        <th class="text-left" style="width: 20%" ng-click="sortType = 'floorNumber'; sortReverse = !sortReverse">
                            Floor Number
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'floorNumber' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'floorNumber' && sortReverse"></i></span>
                        </th>
                        <th class="text-left" style="width: 20%" ng-click="sortType = 'aptStatus'; sortReverse = !sortReverse">
                            Status
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'aptStatus' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'aptStatus' && sortReverse"></i></span>
                        </th>                       
                    </tr>
                </thead>
                <tbody class="list-tbody" ng-repeat="apt in apartments | orderBy:sortType:sortReverse | filter:searchApartment" ng-class-odd="'list-row-odd'" ng-class-even="'list-row-even'">
                    <tr class="list-hover">
                        <td>
                            <i style="cursor: pointer" class="fa fa-minus" ng-if="apt.expanded" ng-click="apt.expanded = false;"></i>
                            <i style="cursor: pointer" class="fa fa-plus" ng-if="!apt.expanded" ng-click="apt.expanded = true;"></i>
                        </td>
                        <td class="text-left">{{apt.ApartmentNumber}}</td>
                        <td class="text-left">{{apt.FloorNumber}}</td>
                        <td class="text-left">{{apt.Status}}</td>              
                    </tr>
                    <!-- DETAIL VIEW-->
                    <tr class="details-row" ng-if="apt.expanded" ng-repeat-end="">
                        <td colspan="4">
                            <div class="detailDivTable">
                                <div class="detailDivTableBody detailLeft">
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Apartment Number:</div>
                                        <div class="detailDivTableCell">{{apt.ApartmentNumber}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Floor Number:</div>
                                        <div class="detailDivTableCell">{{apt.FloorNumber}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Status:</div>
                                        <div class="detailDivTableCell">{{apt.Status}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Unit Type:</div>
                                        <div class="detailDivTableCell">{{apt.Unit.Bedrooms}} Bedrooms</div>
                                    </div>
                                    <span style="margin:10px;" class="spanError" ng-show="errorMessage!=''"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{errorMessage}}</span>
                                </div>
                                <div class="detailRight">
                                    <button type="submit" style="float:right" class="btn btn-primary" ng-click="editClick(apt.ApartmentNumber)">Edit</button>
                                    <button type="submit" class="btn btn-primary cancelAddButton" style="float: right; margin-top: 10px;" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="delete(apt.ApartmentNumber)">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- END DETAIL VIEW-->                    
                </tbody>
            </table>           
           
   </div>
</body>
</html>
