   <div class="form-style-5">
    <form name="form" id="form">
        <fieldset>
            <legend><span class="number"></span> Add Announcement <button type="button" class="btn btn-primary cancelAddButton" ng-click="cancelAdd()">Cancel</button></legend>
            
                <label class="control-label" for="title">Title</label>
                <input type="text" name="title" id="title" ng-model="title" class="form-control" maxlength="40" required>
                <span class="spanError" ng-show="form.title.$invalid && !form.title.$pristine">Enter a title</span>
    
                <label class="control-label" for="startDate">Start Date</label>                          
                <input type="date" name="startDate" id="startDate" class="form-control" ng-model="startDate">
                <span class="spanError" ng-show="form.startDate.$invalid && !form.startDate.$pristine">Enter a valid date</span>
             
                <label class="control-label" for="expireDate">Expire Date</label>  
                <input type="date" name="expireDate" id="expireDate" class="form-control" ng-model="expireDate">
                <span class="spanError" ng-show="form.expireDate.$invalid && !form.expireDate.$pristine">Enter a valid date</span>

                <label class="control-label" for="description">Description</label> 
                <textarea id="description" name="description" ng-model="description" rows="6" cols="20" style="overflow:auto;resize:none" required></textarea>
                <span class="spanError" ng-show="form.description.$invalid && !form.description.$pristine">Enter a description</span>
              
            </fieldset>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary submitForm" ng-click="addAnnouncement()">Add Announcement </button>
</form>
 </div>
