<html>
<head>
    <title>Service Requests</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="propertyManagerApp">
    <div ng-include='"/app/Partials/menu.html"'></div>
    <div id="page-wrapper">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchRequest">
                </div>
            </div>
        </form>
        <table class="table-fill" style="float: left">
            <thead>
                <tr>
                    <th style="width: 2%"></th>
                    <th class="text-left" ng-click="sortType = 'service'; sortReverse = !sortReverse">
                        Service
                        <span><i class="fa fa-caret-up" ng-show="sortType == 'service' && !sortReverse"></i></span>
                        <span><i class="fa fa-caret-down" ng-show="sortType == 'service' && sortReverse"></i></span>
                    </th>
                    <th class="text-left" ng-click="sortType = 'requestDate'; sortReverse = !sortReverse">
                        Request Date
                        <span><i class="fa fa-caret-up" ng-show="sortType == 'requestDate' && !sortReverse"></i></span>
                        <span><i class="fa fa-caret-down" ng-show="sortType == 'requestDate' && sortReverse"></i></span>
                    </th>
                    <th style="width: 25%" class="text-left" ng-click="sortType = 'completionDate'; sortReverse = !sortReverse">
                        Completion Date
                        <span><i class="fa fa-caret-up" ng-show="sortType == 'completionDate' && !sortReverse"></i></span>
                        <span><i class="fa fa-caret-down" ng-show="sortType == 'completionDate' && sortReverse"></i></span>
                    </th>
                </tr>
            </thead>
            <tbody class="list-tbody" ng-repeat="request in serviceRequests | orderBy:sortType:sortReverse | filter:searchRequest" ng-class-odd="'list-row-odd'" ng-class-even="'list-row-even'">
                <tr class="list-hover">
                    <td>
                        <i style="cursor: pointer" class="fa fa-minus" ng-if="request.expanded" ng-click="request.expanded = false"></i>
                        <i style="cursor: pointer" class="fa fa-plus" ng-if="!request.expanded" ng-click="request.expanded = true;"></i>
                    </td>
                    <td class="text-left">{{request.Service.ServiceName}}</td>
                    <td class="text-left">{{request.RequestDate | date:'MM-dd-yyyy'}}</td>
                    <td class="text-left">{{request.CompletionDate | date:'MM-dd-yyyy'}}</td>
                </tr>
                <tr class="details-row" ng-if="request.expanded" ng-repeat-end="">
                    <td colspan="7">
                        <div class="detailDivTable">
                            <div class="detailDivTableBody">
                                <div class="detailDivTableRow">
                                    <div class="detailDivTableHeader">Service:</div>
                                    <div class="detailDivTableCell">{{request.Service.ServiceName}}</div>
                                </div>
                                <div class="detailDivTableRow">
                                    <div class="detailDivTableHeader">Request Date:</div>
                                    <div class="detailDivTableCell">{{request.RequestDate | date:'MM-dd-yyyy'}}</div>
                                </div>
                                <div class="detailDivTableRow">
                                    <div class="detailDivTableHeader">Completion Date:</div>
                                    <div class="detailDivTableCell">{{request.CompletionDate | date:'MM-dd-yyyy'}}</div>
                                </div>
                                <div class="detailDivTableRow">
                                    <div class="detailDivTableHeader">Description:</div>
                                    <div class="detailDivTableCell">{{request.Description}}</div>
                                </div>
                                <div class="detailDivTableRow">
                                    <div class="detailDivTableHeader">Notes:</div>
                                    <div class="detailDivTableCell">{{request.Notes}}</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
