<html>
<head>
    <title>Lease Add</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="propertyManagerApp">
    <div ng-include='"/app/Partials/menu.html"'></div>
    <div id="page-wrapper-form">
        <!--ADD FORM-->
        <div ng-hide="isEdit">
            <div class="form-style-5" ng-hide="showConfirmation">
                <form name="form" id="form">
                    <fieldset>
                        <legend><span class="number"></span> Add Lease <button type="button" class="btn btn-primary cancelAddButton" ng-click="cancelAdd()">Cancel</button></legend>

                        <label class="control-label" for="startDate">Start Date</label>
                        <input type="date" name="startDate" id="startDate" class="form-control" ng-model="modelAdd.startDate">
                        <span class="spanError" ng-show="form.startDate.$invalid && !form.startDate.$pristine">Enter a valid date</span>

                        <label class="control-label" for="endDate">End Date</label>
                        <input type="date" name="endDate" id="endDate" class="form-control" ng-model="modelAdd.endDate">
                        <span class="spanError" ng-show="form.endDate.$invalid && !form.endDate.$pristine">Enter a valid date</span>

                        <label class="control-label" for="monthlyRent">Monthly Rent</label>
                        <input type="number" name="monthlyRent" id="monthlyRent" step=0.1 ng-model="modelAdd.monthlyRent" max="10000" ng-pattern="/^([0-9]+.[0-9]{0,2})$/" class="form-control">
                        <span class="spanError" ng-show="form.monthlyRent.$error.pattern || form.monthlyRent.$invalid && !form.monthlyRent.$pristine">Enter valid number</span>

                        <label class="control-label" for="securityDeposit">Security Deposit</label>
                        <input type="number" name="securityDeposit" id="securityDeposit" step=0.1 ng-model="modelAdd.securityDeposit" max="10000" ng-pattern="/^([0-9]+.[0-9]{0,2})$/" class="form-control">
                        <span class="spanError" ng-show="form.securityDeposit.$error.pattern || form.securityDeposit.$invalid && !form.securityDeposit.$pristine">Enter valid number</span>

                        <label class="control-label" for="aptnumber">Apartment Number</label>
                        <input type="number" name="aptnumber" id="aptnumber" max="10000" ng-model="modelAdd.apartmentId" class="form-control" ng-pattern="/^[0-9]+$/" required>
                        <span class="spanError" ng-show="form.aptnumber.$error.pattern || form.aptnumber.$invalid && !form.aptnumber.$pristine">Enter an apartment number</span>

                        <label class="control-label" for="tenantEmail">Tenant Email</label>                    
                        <input type="text" class="form-control" ng-model="modelAdd.tenantEmail">
                        <span class="spanError" ng-show="form.tenantEmail.$error.pattern || form.tenantEmail.$invalid && !form.tenantEmail.$pristine">Enter a tenant email</span>                                   
                     
                    </fieldset>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary submitForm" ng-click="addLease()">Add Lease </button>
                    <br/><span style="margin:10px;" class="spanError" ng-show="errorMessage!=''"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{errorMessage}}</span>                                                                   
                </form>
            </div>
            <div class="detailDivTable addSuccessfull" style="float:left" ng-show="showConfirmation">
                <div class="detailDivTableBody">
                    <span class="messageSuccess">{{message}}</span>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Apartment Number:</div>
                        <div class="detailDivTableCell">{{modelAdd.apartmentId}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Tenant Name:</div>
                        <div class="detailDivTableCell">{{modelAdd.tenantName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Start Date:</div>
                        <div class="detailDivTableCell">{{modelAdd.startDate | date:'MM-dd-yyyy'}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">End Date:</div>
                        <div class="detailDivTableCell">{{modelAdd.endDate | date:'MM-dd-yyyy'}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Monthly Rent:</div>
                        <div class="detailDivTableCell">{{modelAdd.monthlyRent}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Security Deposit:</div>
                        <div class="detailDivTableCell">{{modelAdd.securityDeposit}}</div>
                    </div>                                              
                    <button type="button" class="btn btn-primary" ng-click="goBack()">Back</button>
                    <button type="button" class="btn btn-primary" ng-click="addAnother()">Add another</button>
                </div>
            </div>
        </div>
        <!--ADD FORM-->
        <!--EDIT FORM-->
        <div ng-show="isEdit">
            <div class="form-style-5" ng-hide="showEditConfirmation">
                <form name="formEdit" id="formEdit">
                    <fieldset>
                        <legend><span class="number"></span> Edit Lease <button type="button" class="btn btn-primary cancelAddButton" ng-click="cancelAdd()">Cancel</button></legend>

                        <label class="control-label" for="aptnumber">Apartment Number</label>
                        <input type="number" name="aptnumber" id="aptnumber" max="10000" ng-model="modelEdit.apartmentId" class="form-control" ng-pattern="/^[0-9]+$/" readonly required>
                        <span class="spanError" ng-show="form.aptnumber.$error.pattern || form.aptnumber.$invalid && !form.aptnumber.$pristine">Enter an apartment number</span>

                        <label class="control-label" for="tenantName">Tenant Name</label>
                        <input type="text" class="form-control" ng-model="modelEdit.tenantName" readonly>
                        <span class="spanError" ng-show="form.tenantName.$error.pattern || form.tenantName.$invalid && !form.tenantName.$pristine">Enter a tenant name</span>                                   

                        <label class="control-label" for="startDate">Start Date</label>
                        <input type="date" name="startDate" id="startDate" class="form-control" ng-model="modelEdit.startDate">
                        <span class="spanError" ng-show="formEdit.startDate.$invalid && !formEdit.startDate.$pristine">Enter a valid date</span>

                        <label class="control-label" for="endDate">End Date</label>
                        <input type="date" name="endDate" id="endDate" class="form-control" ng-model="modelEdit.endDate">
                        <span class="spanError" ng-show="formEdit.endDate.$invalid && !formEdit.endDate.$pristine">Enter a valid date</span>

                        <label class="control-label" for="monthlyRent">Monthly Rent</label>
                        <input type="number" name="monthlyRent" id="monthlyRent" step=0.1 ng-model="modelEdit.monthlyRent" max="10000" ng-pattern="/^([0-9]+.[0-9]{0,2})$/" class="form-control">
                        <span class="spanError" ng-show="formEdit.monthlyRent.$error.pattern || formEdit.monthlyRent.$invalid && !formEdit.monthlyRent.$pristine">Enter valid number</span>

                        <label class="control-label" for="securityDeposit">Security Deposit</label>
                        <input type="number" name="securityDeposit" id="securityDeposit" step=0.1 ng-model="modelEdit.securityDeposit" max="10000" ng-pattern="/^([0-9]+.[0-9]{0,2})$/" class="form-control">
                        <span class="spanError" ng-show="formEdit.securityDeposit.$error.pattern || formEdit.securityDeposit.$invalid && !formEdit.securityDeposit.$pristine">Enter valid number</span>
                    
                    </fieldset>
                    <button type="submit" ng-disabled="formEdit.$invalid" class="btn btn-primary submitForm" ng-click="editLease()">Edit Lease </button>
                    <span>{{message}}</span>
                </form>
            </div>
            <div class="detailDivTable addSuccessfull" style="float:left" ng-show="showEditConfirmation">
                <div class="detailDivTableBody">
                    <span class="messageSuccess">{{message}}</span>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Apartment Number:</div>
                        <div class="detailDivTableCell">{{modelEdit.apartmentId}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Tenant Name:</div>
                        <div class="detailDivTableCell">{{modelEdit.tenantName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Start Date:</div>
                        <div class="detailDivTableCell">{{modelEdit.startDate | date:'MM-dd-yyyy'}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">End Date:</div>
                        <div class="detailDivTableCell">{{modelEdit.endDate | date:'MM-dd-yyyy'}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Monthly Rent:</div>
                        <div class="detailDivTableCell">{{modelEdit.monthlyRent}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Security Deposit:</div>
                        <div class="detailDivTableCell">{{modelEdit.securityDeposit}}</div>
                    </div>        
                    <button type="button" class="btn btn-primary" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <!--EDIT FORM-->

    </div>
</body>
</html>

