<html>
<head>
    <title>Employee Add</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        $('#mobileNumber').keyup(function () {
            if ($(this).val() != null) {
                foo = $(this).val().split("-").join("");

                foo = foo.match(new RegExp('.{1,4}$|.{1,3}', 'g')).join("-");

                $(this).val(foo);
            }

        });
        $('#postalcode').keyup(function () {
            if ($(this).val() != null) {
                foo = $(this).val().split("-").join("");

                foo = foo.match(new RegExp('.{1,3}', 'g')).join("-");

                $(this).val(foo);
            }

        });
       
    </script>
</head>

<body ng-app="propertyManagerApp">
    <div ng-include='"/app/Partials/menu.html"'></div>
    <div id="page-wrapper-form">

        <!--ADD FORM-->
        <div ng-hide="isEdit">
            <div class="form-style-5" ng-hide="showConfirmation">
                <form name="form" id="form">
                    <fieldset>
                        <legend><span><i class="fa fa-address-book" aria-hidden="true"></i></span> Add Employee <button type="button" class="btn btn-primary cancelAddButton" ng-click="cancelAdd()">Cancel</button></legend>

                        <label class="control-label" for="firstName">Fist Name</label>
                        <input type="text" name="firstName" id="firstName" ng-model="modelAdd.FirstName" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="20" required>
                        <span class="spanError" ng-show="form.firstName.$error.pattern ||form.firstName.$invalid && !form.firstName.$pristine">Enter a first name</span>

                        <label class="control-label" for="lastName">Last Name</label>
                        <input type="text" name="lastName" id="lastName" ng-model="modelAdd.LastName" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="20" required>
                        <span class="spanError" ng-show="form.lastName.$error.pattern || form.lastName.$invalid && !form.lastName.$pristine">Enter a last name</span>

                        <label class="control-label" for="title">Title</label>
                        <input type="text" name="title" id="title" ng-model="modelAdd.Title" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="30" required>
                        <span class="spanError" ng-show="form.title.$error.pattern || form.title.$invalid && !form.title.$pristine">Enter a title</span>

                        <label class="control-label" for="mobileNumber">Phone Number</label>
                        <input type="text" name="mobileNumber" id="mobileNumber" ng-model="modelAdd.Phone" placeholder="numbers only" ng-pattern="/^[0-9]{3}[-]{1}[0-9]{3}[-]{1}[0-9]{4}$/" class="form-control" maxlength="12">
                        <span class="spanError" ng-show="form.mobileNumber.$error.pattern || form.mobileNumber.$invalid && !form.mobileNumber.$pristine">Enter a phone number</span>                      

                        <label class="control-label" for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" ng-model="modelAdd.Email" maxlength="30" required />
                        <span class="help-block spanError" ng-show="form.email.$error.pattern || form.email.$invalid && !form.email.$pristine">Enter a valid email</span>

                        <label class="control-label" for="birthDate">Birth Date</label>
                        <input type="date" name="birthDate" id="birthDate" class="form-control" ng-model="modelAdd.BirthDate" required>
                        <span class="spanError" ng-show="form.birthDate.$invalid && !form.birthDate.$pristine">Enter a valid date</span>

                        <label class="control-label" for="hireDate">Hire Date</label>
                        <input type="date" name="hireDate" id="hireDate" class="form-control" ng-model="modelAdd.HireDate" required>
                        <span class="spanError" ng-show="form.hireDate.$invalid && !form.hireDate.$pristine">Enter a valid date</span>

                        <label class="control-label" for="title">Address</label>
                        <input type="text" name="address" id="address" ng-model="modelAdd.Address" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="50" required>
                        <span class="spanError" ng-show="form.address.$error.pattern || form.address.$invalid && !form.address.$pristine">Enter an address</span>

                        <label class="control-label" for="city">City</label>
                        <input type="text" name="city" id="city" ng-model="modelAdd.City" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="30" required>
                        <span class="spanError" ng-show="form.city.$error.pattern || form.city.$invalid && !form.city.$pristine">Enter a city</span>

                        <label class="control-label" for="state">State</label>
                        <input type="text" name="state" id="state" ng-model="modelAdd.State" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="30" required>
                        <span class="spanError" ng-show="form.state.$error.pattern || form.state.$invalid && !form.state.$pristine">Enter a state</span>

                        <label class="control-label" for="postalcode">Postal Code</label>
                        <input type="text" name="postalcode" id="postalcode" ng-model="modelAdd.PostalCode"  placeholder="numbers only" class="form-control" maxlength="7" required>
                        <span class="spanError" ng-show="form.postalcode.$error.pattern || form.postalcode.$invalid && !form.postalcode.$pristine">Enter a postal code</span>

                    </fieldset>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary submitForm" ng-click="addEmployee()">Add Employee </button>
                    <span>{{message}}</span>
                </form>
            </div>
            <div class="detailDivTable addSuccessfull" style="float:left" ng-show="showConfirmation">
                <div class="detailDivTableBody">
                    <span class="messageSuccess">{{message}}</span>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">First Name:</div>
                        <div class="detailDivTableCell">{{modelAdd.FirstName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Last Name:</div>
                        <div class="detailDivTableCell">{{modelAdd.LastName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Title:</div>
                        <div class="detailDivTableCell">{{modelAdd.Title}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Address:</div>
                        <div class="detailDivTableCell">{{modelAdd.Address}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Province:</div>
                        <div class="detailDivTableCell">{{modelAdd.State}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">City:</div>
                        <div class="detailDivTableCell">{{modelAdd.City}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Postal Code:</div>
                        <div class="detailDivTableCell">{{modelAdd.PostalCode}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Phone:</div>
                        <div class="detailDivTableCell">{{modelAdd.Phone}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Fax:</div>
                        <div class="detailDivTableCell">{{modelAdd.Fax}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Email:</div>
                        <div class="detailDivTableCell">{{modelAdd.Email}}</div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="goBack()">Back</button>
                    <button type="button" class="btn btn-primary" ng-click="addAnother()">Add another</button>
                </div>
            </div>
        </div>
        <!--ADD FORM-->
        <!--EDIT FORM-->
        <div ng-show="isEdit">
            <div class="form-style-5" ng-hide="showEditConfirmation">
                <form name="formEdit" id="formEdit">
                    <fieldset>
                        <legend><span class="number"></span> Edit Employee <button type="button" class="btn btn-primary cancelAddButton" ng-click="cancelAdd()">Cancel</button></legend>

                        <label class="control-label" for="firstName">Fist Name</label>
                        <input type="text" name="firstName" id="firstName" ng-model="modelEdit.FirstName" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="20" required>
                        <span class="spanError" ng-show="formEdit.firstName.$error.pattern ||formEdit.firstName.$invalid && !formEdit.firstName.$pristine">Enter a first name</span>

                        <label class="control-label" for="lastName">Last Name</label>
                        <input type="text" name="lastName" id="lastName" ng-model="modelEdit.LastName" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="20" required>
                        <span class="spanError" ng-show="formEdit.lastName.$error.pattern || formEdit.lastName.$invalid && !formEdit.lastName.$pristine">Enter a last name</span>

                        <label class="control-label" for="title">Title</label>
                        <input type="text" name="title" id="title" ng-model="modelEdit.Title" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="30" required>
                        <span class="spanError" ng-show="formEdit.title.$error.pattern || formEdit.title.$invalid && !formEdit.title.$pristine">Enter a title</span>

                        <label class="control-label" for="mobileNumber">Phone Number</label>
                        <input type="text" name="mobileNumber" id="mobileNumber" ng-model="modelEdit.Phone" placeholder="numbers only" ng-pattern="/^[0-9]{3}[-]{1}[0-9]{3}[-]{1}[0-9]{4}$/" class="form-control" maxlength="12">
                        <span class="spanError" ng-show="formEdit.mobileNumber.$error.pattern || formEdit.mobileNumber.$invalid && !formEdit.mobileNumber.$pristine">Enter a phone number</span>

                        <label class="control-label" for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" ng-model="modelEdit.Email" maxlength="30" required />
                        <span class="help-block spanError" ng-show="formEdit.email.$error.pattern || formEdit.email.$invalid && !formEdit.email.$pristine">Enter a valid email</span>

                        <label class="control-label" for="birthDate">Birth Date</label>
                        <input type="date" name="birthDate" id="birthDate" class="form-control" ng-model="modelEdit.BirthDate" required>
                        <span class="spanError" ng-show="formEdit.birthDate.$invalid && !formEdit.birthDate.$pristine">Enter a valid date</span>

                        <label class="control-label" for="hireDate">Hire Date</label>
                        <input type="date" name="hireDate" id="hireDate" class="form-control" ng-model="modelEdit.HireDate" required>
                        <span class="spanError" ng-show="formEdit.hireDate.$invalid && !formEdit.hireDate.$pristine">Enter a valid date</span>

                        <label class="control-label" for="address">Address</label>
                        <input type="text" name="address" id="address" ng-model="modelEdit.Address" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="50" required/>
                        <span class="spanError" ng-show="formEdit.address.$error.pattern || formEdit.address.$invalid && !formEdit.address.$pristine">Enter an address</span>

                        <label class="control-label" for="city">City</label>
                        <input type="text" name="city" id="city" ng-model="modelEdit.City" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="30" required>
                        <span class="spanError" ng-show="formEdit.city.$error.pattern || formEdit.city.$invalid && !formEdit.city.$pristine">Enter a city</span>

                        <label class="control-label" for="state">State</label>
                        <input type="text" name="state" id="state" ng-model="modelEdit.State" ng-pattern="/^[a-zA-Z ]+$/" class="form-control" maxlength="30" required>
                        <span class="spanError" ng-show="formEdit.state.$error.pattern || formEdit.state.$invalid && !formEdit.state.$pristine">Enter a state</span>

                        <label class="control-label" for="postalcode">Postal Code</label>
                        <input type="text" name="postalcode" id="postalcode" placeholder="numbers only" ng-model="modelEdit.PostalCode" class="form-control" maxlength="7" required>
                        <span class="spanError" ng-show="formEdit.postalcode.$error.pattern || formEdit.postalcode.$invalid && !formEdit.postalcode.$pristine">Enter a postal code</span>
                    </fieldset>
                    <button type="submit" ng-disabled="formEdit.$invalid" class="btn btn-primary submitForm" ng-click="editEmployee()">Edit Employee </button>
                    <span>{{message}}</span>
                </form>
            </div>
            <div class="detailDivTable addSuccessfull" style="float:left" ng-show="showEditConfirmation">
                <div class="detailDivTableBody">
                    <span class="messageSuccess">{{message}}</span>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">First Name:</div>
                        <div class="detailDivTableCell">{{modelEdit.FirstName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Last Name:</div>
                        <div class="detailDivTableCell">{{modelEdit.LastName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Title:</div>
                        <div class="detailDivTableCell">{{modelEdit.Title}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Address:</div>
                        <div class="detailDivTableCell">{{modelEdit.Address}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Province:</div>
                        <div class="detailDivTableCell">{{modelEdit.State}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">City:</div>
                        <div class="detailDivTableCell">{{modelEdit.City}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Postal Code:</div>
                        <div class="detailDivTableCell">{{modelEdit.PostalCode}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Phone:</div>
                        <div class="detailDivTableCell">{{modelEdit.Phone}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Fax:</div>
                        <div class="detailDivTableCell">{{modelEdit.Fax}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Email:</div>
                        <div class="detailDivTableCell">{{modelEdit.Email}}</div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <!--EDIT FORM-->

    </div>
</body>
</html>

