<html>
<head>
    <title>Inventory Add</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="propertyManagerApp">
    <div ng-include='"/app/Partials/menu.html"'></div>
    <div id="page-wrapper-form">

        <!--ADD FORM-->
        <div ng-hide="isEdit">
            <div class="form-style-5" ng-hide="showConfirmation">
                <form name="form" id="form">
                    <fieldset>
                        <legend><span class="number"></span> Add Inventory <button type="button" class="btn btn-primary cancelAddButton" ng-click="cancelAdd()">Cancel</button></legend>

                        <label class="control-label" for="productName">Product Name</label>
                        <input type="text" name="productName" id="productName" ng-model="modelAdd.productName" ng-pattern="/^[a-zA-Z0-9 ]+$/" class="form-control" maxlength="20" required>
                        <span class="spanError" ng-show="form.productName.$error.pattern || form.productName.$invalid && !form.productName.$pristine">Enter a product name</span>

                        <label class="control-label" for="supplier">Supplier</label>
                        <input type="text" name="supplier" id="supplier" ng-model="modelAdd.supplier" ng-pattern="/^[a-zA-Z0-9 ]+$/" class="form-control" maxlength="20">
                        <span class="spanError" ng-show="form.supplier.$error.pattern || form.supplier.$invalid && !form.supplier.$pristine">Enter a supplier name</span>

                        <label class="control-label" for="quantity">Quantity</label>
                        <input type="number" name="quantity" id="quantity" class="form-control" ng-pattern="/^[0-9]{0,5}$/" ng-model="modelAdd.quantity" required>
                        <span class="spanError" ng-show="form.quantity.$error.pattern || form.quantity.$invalid && !form.quantity.$pristine">Enter a quantity</span>
                    </fieldset>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary submitForm" ng-click="addInventory()">Add Inventory </button>
                    <span>{{message}}</span>
                </form>
            </div>
            <div class="detailDivTable addSuccessfull" style="float:left" ng-show="showConfirmation">
                <div class="detailDivTableBody">
                    <span class="messageSuccess">{{message}}</span>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Product Name:</div>
                        <div class="detailDivTableCell">{{modelAdd.productName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Supplier:</div>
                        <div class="detailDivTableCell">{{modelAdd.supplier}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Quantity:</div>
                        <div class="detailDivTableCell">{{modelAdd.quantity}}</div>
                    </div>                   
                    <button type="button" class="btn btn-primary" ng-click="goBack()">Back</button>
                    <button type="button" class="btn btn-primary" ng-click="addAnother()">Add another</button>
                </div>
            </div>
        </div>
        <!--ADD FORM-->
        <!--EDIT FORM-->
        <div ng-show="isEdit">
            <div class="form-style-5" ng-hide="showEditConfirmation">
                <form name="formEdit" id="formEdit">
                    <fieldset>
                        <legend><span class="number"></span> Edit Inventory <button type="button" class="btn btn-primary cancelAddButton" ng-click="cancelAdd()">Cancel</button></legend>

                        <label class="control-label" for="productName">Product Name</label>
                        <input type="text" name="productName" id="productName" ng-model="modelEdit.productName" ng-pattern="/^[a-zA-Z0-9 ]+$/" class="form-control" maxlength="20" required>
                        <span class="spanError" ng-show="formEdit.productName.$error.pattern || formEdit.productName.$invalid && !formEdit.productName.$pristine">Enter a product name</span>

                        <label class="control-label" for="supplier">Supplier</label>
                        <input type="text" name="supplier" id="supplier" ng-model="modelEdit.supplier" ng-pattern="/^[a-zA-Z0-9 ]+$/" class="form-control" maxlength="20">
                        <span class="spanError" ng-show="formEdit.supplier.$error.pattern || formEdit.supplier.$invalid && !formEdit.supplier.$pristine">Enter a supplier name</span>

                        <label class="control-label" for="quantity">Quantity</label>
                        <input type="number" name="quantity" id="quantity" class="form-control" ng-pattern="/^[0-9]{0,5}$/" ng-model="modelEdit.quantity" required>
                        <span class="spanError" ng-show="formEdit.quantity.$error.pattern || formEdit.quantity.$invalid && !formEdit.quantity.$pristine">Enter a quantity</span>
                    </fieldset>
                    <button type="submit" ng-disabled="formEdit.$invalid" class="btn btn-primary submitForm" ng-click="editInventory()">Edit Inventory </button>
                    <span>{{message}}</span>
                </form>
            </div>
            <div class="detailDivTable addSuccessfull" style="float:left" ng-show="showEditConfirmation">
                <div class="detailDivTableBody">
                    <span class="messageSuccess">{{message}}</span>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Product Name:</div>
                        <div class="detailDivTableCell">{{modelEdit.productName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Supplier:</div>
                        <div class="detailDivTableCell">{{modelEdit.supplier}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Quantity:</div>
                        <div class="detailDivTableCell">{{modelEdit.quantity}}</div>
                    </div>                   
                    <button type="button" class="btn btn-primary" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <!--EDIT FORM-->

    </div>
</body>
</html>