<html>
<head>
    <title>Apartment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="propertyManagerApp">
    <div id="wrapper">
        <div ng-include='"/app/Partials/menu.html"'></div>
        <div id="page-wrapper">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchApartment">
                    </div>
                </div>
            </form>

            <table class="table-fill" style="float: left">
                <thead>
                    <tr>
                        <th style="width: 2%"></th>
                        <th style="width: 20%" class="text-left" ng-click="sortType = 'ApartmentNumber'; sortReverse = !sortReverse">
                            Apartment Number
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'ApartmentNumber' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'ApartmentNumber' && sortReverse"></i></span>
                        </th>
                        <th style="width: 20%" class="text-left" ng-click="sortType = 'floorNumber'; sortReverse = !sortReverse">
                            Floor Number
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'floorNumber' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'floorNumber' && sortReverse"></i></span>
                        </th>
                        <th class="text-left" ng-click="sortType = 'aptStatus'; sortReverse = !sortReverse">
                            Status
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'aptStatus' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'aptStatus' && sortReverse"></i></span>
                        </th>                       
                    </tr>
                </thead>
                <tbody class="list-tbody" ng-repeat="apt in apartments | orderBy:sortType:sortReverse | filter:searchApartment" ng-class-odd="'list-row-odd'" ng-class-even="'list-row-even'">
                    <tr class="list-hover">
                        <td>
                            <i style="cursor: pointer" class="fa fa-minus" ng-if="apt.expanded" ng-click="apt.expanded = false"></i>
                            <i style="cursor: pointer" class="fa fa-plus" ng-if="!apt.expanded" ng-click="getApartmentById(apt.ApartmentNumber); apt.expanded = true;"></i>
                        </td>
                        <td class="text-left">{{apt.ApartmentNumber}}</td>
                        <td class="text-left">{{apt.FloorNumber}}</td>
                        <td class="text-left">{{apt.Status}}</td>              
                    </tr>
                    <tr class="details-row" ng-if="apt.expanded" ng-repeat-end="">
                        <td colspan="7">
                            <div class="detailDivTable">
                                <div class="detailDivTableBody">
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Apartment Number:</div>
                                        <div class="detailDivTableCell">{{aptNumber}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Floor Number:</div>
                                        <div class="detailDivTableCell">{{floorNumber}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Status:</div>
                                        <div class="detailDivTableCell">{{status}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Unit Type:</div>
                                        <div class="detailDivTableCell">{{unitType}} Bedrooms</div>
                                    </div>                             
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
           
            <!-- EDIT FORM <form name="form">

                <input type="number" name="aptNumber" id="aptNumber" class="form-control" placeholder="aptNumber" ng-model="aptNumber">

                <input type="number" name="floorNumber" id="floorNumber" class="form-control" placeholder="floorNumber" ng-model="floorNumber">

                <input type="number" name="unitId" id="unitId" class="form-control" placeholder="unitId" ng-model="unitId">

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="addApartment()">Add</button>
                </div>
                <input type="text" name="aptNumber" id="aptNumber" class="form-control" placeholder="Id" ng-model="aptNumber">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="getApartment()">Get All</button>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="getApartmentById()">Get One</button>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="editApartment()">Edit</button>
                </div>
               
                </div>
            </form> -->
        </div>
     </div>
</body>
</html>
