<html>
<head>
    <title>Employee</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="propertyManagerApp">
    <div ng-include='"/app/Partials/menu.html"'></div>
    <div id="page-wrapper">
        <div style="padding-top: 10px;">
            <table class="table-fill" style="float: left">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-left" ng-click="sortType = 'FirstName'; sortReverse = !sortReverse">First Name
                            <span><i class="fa fa-sort-asc" ng-show="sortType == 'FirstName' && !sortReverse"></i></span>
                            <span><i class="fa fa-sort-desc" ng-show="sortType == 'FirstName' && sortReverse"></i></span>
                        </th>
                        <th class="text-left">Last Name</th>
                        <th class="text-left">Title</th>
                        <th class="text-left">Phone</th>
                        <th class="text-left">Email</th>
                        <th class="text-left">Hire Date</th>
                    </tr>
                </thead>
                <tbody class="list-tbody" ng-repeat="employee in employees | orderBy:sortType:sortReverse" ng-class-odd="'list-row-odd'" ng-class-even="'list-row-even'">
                    <tr class="list-hover">
                        <td>
                            <i style="cursor: pointer" class="fa fa-minus" ng-if="employee.expanded" ng-click="employee.expanded = false"></i>
                            <i style="cursor: pointer" class="fa fa-plus" ng-if="!employee.expanded" ng-click="getEmployeeById(employee.Id); employee.expanded = true;"></i>
                        </td>
                        <td class="text-left">{{employee.FirstName}}</td>
                        <td class="text-left">{{employee.LastName}}</td>
                        <td class="text-left">{{employee.Title}}</td>
                        <td class="text-left">{{employee.Phone}}</td>
                        <td class="text-left">{{employee.Email}}</td>
                        <td class="text-left">{{employee.HireDate}}</td>
                    </tr>
                    <tr class="details-row" ng-if="employee.expanded" ng-repeat-end="">
                        <td colspan="7">
                            <!--
                            <table class="details-table">
                                <tr>
                                    <th class="details-header">First Name:</th>
                                    <td class="detail-data">{{FirstName}}</td>
                                </tr>
                            </table>
                                -->
                            <div class="detailDivTable">
                                <div class="detailDivTableBody">
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">First Name:</div>
                                        <div class="detailDivTableCell">{{FirstName}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Last Name:</div>
                                        <div class="detailDivTableCell">{{LastName}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Title:</div>
                                        <div class="detailDivTableCell">{{Title}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Address:</div>
                                        <div class="detailDivTableCell">{{Address}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Province:</div>
                                        <div class="detailDivTableCell">{{State}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">City:</div>
                                        <div class="detailDivTableCell">{{City}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Postal Code:</div>
                                        <div class="detailDivTableCell">{{PostalCode}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Phone:</div>
                                        <div class="detailDivTableCell">{{Phone}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Fax:</div>
                                        <div class="detailDivTableCell">{{Fax}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Email:</div>
                                        <div class="detailDivTableCell">{{Email}}</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
