    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid" ng-controller="headerController">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Property Cloud</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        DropDown
                        <span class="caret"></span>
                    </a>
                    <!-- <ul class="dropdown-menu">
                         <li ng-repeat="1 in 3">
                             <a href=""></a>
                         </li>
                     </ul>-->
                    <ul class="dropdown-menu">
                        <li> <a href="#/announcement">Announcement</a></li>
                        <li> <a href="#/facility">Facility</a></li>
                        <li> <a href="#/service">Service</a></li>
                        <li> <a href="#/unit">Unit</a></li>
                        <li> <a href="#/apartment">Apartment</a></li>
                        <li> <a href="#/tenant">Tenant</a></li>
                        <li> <a href="#/unitphoto">Unit Photo</a></li>
                        <li> <a href="#/lease">Lease</a></li>
                        <li> <a href="#/employee">Employee</a></li>
                    </ul>
                </li>
                <li><a href="#/">Button1</a></li>
                <li><a href="#">Button2</a></li>
            </ul>
            <div ng-if="isLoggedIn == false">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/register">Sign Up</a></li>
                    <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span></a></li>
                </ul>
            </div>
            <div ng-if="isLoggedIn == true">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Hello, {{firstName}} !! </a> </li>
                    <li><a href ng-click="logout()"><span class="glyphicon glyphicon-log-out"></a></li>
                </ul>
            </div>

        </div>
    </nav>


