<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" ng-controller="headerController">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Property Manager App</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    DropDown
                    <span class="caret"></span>
                </a>
               <!-- <ul class="dropdown-menu">
                    <li ng-repeat="1 in 3">
                        <a href=""></a>
                    </li>
                </ul>-->
                <ul class="dropdown-menu">
                    <li> <a href="#/announcement">Announcement</a></li>
                    <li> <a href="#/facility">Facility</a></li>
                    <li> <a href="#/service">Service</a></li>
                    <li> <a href="#/unit">Unit</a></li>
                    <li> <a href="#/apartment">Apartment</a></li>
                    <li> <a href="#/tenant">Tenant</a></li>
                    <li> <a href="#/unitphoto">Unit Photo</a></li>
                </ul>
            </li>
            <li><a href="#/">Button1</a></li>
            <li><a href="#">Button2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Help</a></li>
            <li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

