<head>
    <title>Login </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="propertyManagerApp">
    <div ng-include='"/app/Partials/header.html"'></div>
        <div ng-hide="passForget" class="registerForm">
            <form name="form" id="formLogin">
                <h1 id="formH1">Log In</h1>
                <div class="form-group" ng-class="{'has-error': form.username.$invalid && !form.username.$pristine && form.username.$error.required}">
                    <label class="control-label" for="username">Email: </label>
                    <input type="email" name="username" id="inputRegister" class="form-control" ng-model="userEmail" required>                
                    <span ng-show="form.username.$dirty" class="help-block">Enter a valid email</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label class="control-label" for="password" id="inputRegister">Password:</label>
                    <input type="text" name="password" id="inputRegister" class="form-control" ng-model="userPassword" required>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="login()">Login</button>
                </div>
                <a href ng-click="forgetPassword()"> Forgot Password?</a>
            </form>
        </div>

        <div ng-show="passForget" class="registerForm">
            <form name="formReset" id="formLogin">
                <div class="form-group" ng-class="{'has-error': formReset.username.$invalid && !formReset.username.$pristine && formReset.username.$error.required}">
                    <label class="control-label" for="username">Email: </label>
                    <input type="email" name="username" id="inputRegister" class="form-control" ng-model="userEmail" required />
                    <span ng-show="formReset.username.$invalid && !formReset.username.$pristine" class="help-block">Enter a valid email</span>
                </div>
                <div class="form-group" ng-class="{'has-error': formReset.lastName.$dirty && formReset.lastName.$error.required && formReset.lastName.$invalid}">
                    <label class="control-label" for="lastName">Last Name: </label>
                    <input type="text" name="lastName" id="inputRegister" class="form-control" ng-model="userLastName" pattern="[A-Za-z]+" maxlength="30" title="Last name should only contain letters" required>
                    <span ng-show="formReset.lastName.$dirty && formReset.lastName.$error.required" class="help-block">Last name is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': formReset.birthDate.$dirty && formReset.birthDate.$error.required }">
                    <label class="control-label" for="birthDate">Birth Date: </label>
                    <input type="date" name="birthDate" id="birthDate" class="form-control" ng-model="birthDate" style="width: 200px" required />
                    <span ng-show="formReset.birthDate.$dirty && formReset.birthDate.$error.required" class="help-block">Birth Date is required</span>
                </div>
                <div class="form-group" ng-class="{'has-error': formReset.password.$dirty && formReset.password.$error.required && formReset.password.$invalid}">
                    <label class="control-label" for="password">New Password: </label>
                    <input type="password" name="password" id="inputRegister" class="form-control" ng-model="userPassword" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/" required>
                    <span ng-show="formReset.password.$dirty && formReset.password.$error.required && formReset.password.$invalid" class="help-block">Enter a valid password</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="formReset.$invalid" class="btn btn-primary" ng-click="resetPasword()">Reset</button>
                </div>
            </form>
        </div>
</body>