<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">              
                <div ng-hide="passForget">
                    <form class="form-horizontal" role="form" name="form">
                        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                            <input type="text" name="username" id="username" class="form-control" placeholder="Email" ng-model="userEmail" required>
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <input type="text" name="password" id="password" class="form-control" placeholder="Password" ng-model="userPassword" required>
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="login()">Login</button>
                        </div>
                        <a href ng-click="forgetPassword()"> Forgot Password?</a>
                    </form>
                    </div>
                <div ng-show="passForget">
                    <form class="form-horizontal" role="form" name="formReset">
                        <div class="form-group" ng-class="{ 'has-error': formReset.username.$dirty && formReset.username.$error.required }">
                            <input type="text" name="username" id="username" class="form-control" placeholder="Email" ng-model="userEmail" required>
                            <span ng-show="formReset.username.$dirty && formReset.username.$error.required" class="help-block">Username is required</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': formReset.lastName.$dirty && formReset.lastName.$error.required }">
                            <label class="control-label" for="lastName">Last Name: </label>
                            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" ng-model="userLastName" required>
                            <span ng-show="formReset.lastName.$dirty && formReset.lastName.$error.required" class="help-block">Last name is required</span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': formReset.birthDate.$dirty && formReset.birthDate.$error.required }">
                            <label class="control-label" for="birthDate">Birth Date: </label>
                            <input type="date" name="birthDate" id="birthDate" class="form-control" placeholder="birthDate" ng-model="birthDate" required />
                            <span ng-show="formReset.birthDate.$dirty && formReset.birthDate.$error.required" class="help-block">Birth Date required!</span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': formReset.password.$dirty && formReset.password.$error.required }">
                            <label class="control-label" for="password">New Password: </label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="userPassword" required>
                            <span ng-show="formReset.password.$dirty && formReset.password.$error.required" class="help-block">Password is required</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" ng-disabled="formReset.$invalid" class="btn btn-primary" ng-click="resetPasword()">Reset</button>
                        </div>
                    </form>
                  </div>
                </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>