<script>
    $('#password').popover();
</script>
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="propertyManagerApp">
    <div ng-include='"/app/Partials/header.html"'></div>
    <div class="registerForm">
        <form name="form" id="formLogin">
            <h1 id="formH1">Register</h1>
            <fieldset id="inputs">
                <label class="control-label" for="apartmentNumber">Apartment Number: </label>
                <div class="form-group" ng-class="{'has-error': form.apartmentNumber.$dirty && form.apartmentNumber.$error.required }">
                    <input type="number" name="apartmentNumber" id="apartmentNumber" class="form-control" ng-model="apartmentNumber" required style="width: 100px">
                    <span ng-show="form.apartmentNumber.$dirty && form.apartmentNumber.$error.required" class="help-block">Apartment Number is required</span>
                </div>                 
                    <div class="form-group" ng-class="{'has-error': form.username.$invalid && !form.username.$pristine && form.username.$error.required}">
                        <label class="control-label" for="username">Email: </label>
                        <input type="email" name="username" id="inputRegister" class="form-control" ng-model="userEmail" required/>
                        <span ng-show="form.username.$invalid && !form.username.$pristine" class="help-block">Enter a valid email</span>
                    </div>
                    <label class="control-label" for="firstName">First Name: </label>
                    <div class="form-group" ng-class="{'has-error': !form.firstName.$pristine && form.firstName.$error.required && form.firstName.$invalid }">
                        <input type="text" name="firstName" id="inputRegister" class="form-control" ng-model="userFirstName" pattern="[A-Za-z]+" maxlength="30" title="First name should only contain letters" required/>
                        <span ng-show="!form.firstName.$pristine && form.firstName.$invalid && form.firstName.$error.required" class="help-block">First name is required</span>
                    </div>

                    <div class="form-group" ng-class="{'has-error': form.lastName.$dirty && form.lastName.$error.required && form.lastName.$invalid}">
                        <label class="control-label" for="lastName">Last Name: </label>
                        <input type="text" name="lastName" id="inputRegister" class="form-control" ng-model="userLastName" pattern="[A-Za-z]+" maxlength="30" title="Last name should only contain letters" required/>
                        <span ng-show="form.lastName.$dirty && form.lastName.$error.required && form.lastName.$invalid" class="help-block">Last name is required</span>
                    </div>

                <div class="form-group" ng-class="{ 'has-error': form.birthDate.$dirty && form.birthDate.$error.required }">
                    <label class="control-label" for="birthDate">Birth Date: </label>
                    <input type="date" name="birthDate" id="birthDate" class="form-control" ng-model="birthDate" required style="width: 200px" />
                    <span ng-show="form.birthDate.$dirty && form.birthDate.$error.required" class="help-block">Birth Date is required</span>
                </div>

                    <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$error.required && form.password.$invalid}">
                        <label class="control-label" for="password" id="password" toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Must contain at least 1 upper case, 1 lower case, 1 number and 1 special character. Minimum 8 characters">Password: <i class="fa fa-exclamation-circle" aria-hidden="true"></i></label>
                        <input type="password" name="password" id="inputRegister" class="form-control" ng-model="userPassword" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/"  required />
                        <span ng-show="form.password.$dirty && form.password.$invalid" class="help-block">Enter a valid password</span>
                    </div>
                    
        </fieldset>
            <fieldset id="actions">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="registerUser()">
                    Register
                </button>
            </fieldset>
            <div ng-show="responseData">{{responseData}}</div>
        </form>
    </div>           
</body>
