<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div>
        <b>Post JSON data and files in Same Request with AngularJS and Web API example</b>
        <br />
        <br />
        <input type="file" upload-files/>
        <ul>
            <li ng-repeat="file in files">{{file.name}}</li>
        </ul>
        <br />
        <br />
        <button ng-click="save()">Save</button>  
    </div>
    <img src="/Album/FileUploads/wow.jpeg" />

</body>
</html>
