<html>
<head>
    <title>Announcement</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="propertyManagerApp">
    <div id="wrapper">
        <div ng-include='"/app/Partials/menu.html"'></div>
        <div id="page-wrapper">
            <form name="form">
                <label class="control-label" for="description">Description </label><br/>
                <textarea id="description" name="description" ng-model="description" rows="6" cols="70"></textarea><br/>

                <label class="control-label" for="notes">Notes </label><br/>
                <textarea id="notes" name="notes" ng-model="notes" rows="4" cols="70"></textarea><br/>

                <label class="control-label" for="requestDate">Request Date </label><br/>
                <input type="date" name="requestDate" id="requestDate" class="form-control" ng-model="requestDate"><br/>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="addWorkOrder()">Add</button>
                </div>
                <input type="text" name="workOrderId" id="workOrderId" class="form-control" placeholder="Id" ng-model="workOrderId">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="getWorkOrder()">Get All</button>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="getWorkOrderById()">Get One</button>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="editWorkOrder()">Edit</button>
                </div>

                <p> Testing Get One</p>
                <p>{{message}}</p>
                <p>{{notes}}</p>
                <p>{{requestDate}}</p>
                <p>{{description}}</p>
                <p>{{workOrderId}}</p>

            </form>
           
            </div>
        </div>
</body>
</html>