<script>
    $('#password').popover();

</script>
<head>
    <title>Register Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="propertyManagerApp">
        <div ng-include='"/app/Partials/menu.html"'></div>
    <div id="page-wrapper-form">
        <div class="form-style-5">
            <form name="form" id="formLogin">
                <h1 id="formH1">Register Manager</h1>
                
                    <div class="form-group" ng-class="{'has-error': !form.username.$pristine && (form.username.$invalid || form.username.$error.required)}">
                        <label class="control-label" for="username">Email*: </label>
                        <input type="email" name="username" id="inputRegister" class="form-control" ng-model="userEmail" required maxlength="30"/>
                        <span ng-show="form.username.$invalid && !form.username.$pristine" class="help-block">Enter a valid email</span>
                    </div>
                    
                    <div class="form-group" ng-class="{'has-error': form.lastName.$dirty && (form.lastName.$error.required || form.lastName.$invalid)}">
                        <label class="control-label" for="firstName">First Name*: </label>
                        <input type="text" name="firstName" id="inputRegister" class="form-control" ng-model="userFirstName" ng-pattern="/^[a-zA-Z ]+$/" maxlength="30" title="First name should only contain letters" required />
                        <span class="spanError" ng-show="form.firstName.$error.pattern && !form.firstName.$pristine">Enter valid characters</span>
                        <span class="spanError" ng-show="form.firstName.$error.required && !form.firstName.$pristine">First name is required</span>
                    </div>

                    <div class="form-group" ng-class="{'has-error': form.lastName.$dirty && (form.lastName.$error.required || form.lastName.$invalid)}">
                        <label class="control-label" for="lastName">Last Name: </label>
                        <input type="text" name="lastName" id="inputRegister" class="form-control" ng-model="userLastName" ng-pattern="/^[a-zA-Z ]+$/" maxlength="30" title="Last name should only contain letters" required />
                        <span class="spanError" ng-show="form.lastName.$error.pattern && !form.lastName.$pristine">Enter valid characters</span>
                        <span class="spanError" ng-show="form.lastName.$error.required && !form.lastName.$pristine">Last name is required</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.birthDate.$dirty && form.birthDate.$error.required }">
                        <label class="control-label" for="birthDate">Birth Date*: </label>
                        <input type="date" name="birthDate" id="birthDate" class="form-control" ng-model="birthDate" required style="width: 200px" />
                        <span ng-show="form.birthDate.$dirty && form.birthDate.$error.required" class="help-block">Birth Date is required</span>
                    </div>

                    <!--<div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$error.required && form.password.$invalid}">
                        <label class="control-label" for="password" id="password" toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Must contain at least 1 upper case, 1 lower case, 1 number and 1 special character. Minimum 8 characters">Password: <i class="fa fa-exclamation-circle" aria-hidden="true"></i></label>
                        <input type="password" name="password" id="inputRegister" class="form-control" ng-model="userPassword" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/" required />
                        <span ng-show="form.password.$dirty && form.password.$invalid" class="help-block">Enter a valid password</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.confirm_password.$dirty && form.confirm_password.$error.required && form.confirm_password.$invalid}">
                        <label class="control-label" for="confirm_password" id="confirm_password" toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Must contain at least 1 upper case, 1 lower case, 1 number and 1 special character. Minimum 8 characters">Confirm Password:</label>
                        <input type="password" name="confirm_password" id="inputRegister" class="form-control" ng-model="confirmPassword" compare-to="userPassword" required />
                        <span ng-show="form.confirm_password.$dirty && form.confirm_password.$invalid" class="help-block">Enter a valid password</span>
                    </div> -->        
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="registerManager()">
                        Register
                    </button>
               </div>
                <br /><span class="spanError" style="margin-top:20px;" ng-show="errorMessage!=''"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{errorMessage}}</span>
                <br /><span class="messageSuccess" style="margin-top:20px;" ng-show="message!=''">{{message}}</span>
            </form>
        </div>
        </div>
</body>