<!--   Made by Amanda Marques -->
<script>
    $('#password1').popover();

</script>
<head>
    <title>Login </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<body ng-app="propertyManagerApp">
    <div ng-include='"/app/Partials/menu.html"'></div>
    <div id="page-wrapper-form">
        <div class="form-style-5">
            <form name="formReset" id="formReset">
                <h1 id="formH1">Reset Password</h1>               
                <div class="form-group" ng-class="{'has-error': formReset.resetPassword.$dirty && (formReset.resetPassword.$error.required || formReset.resetPassword.$invalid)}">
                    <label class="control-label" for="resetPassword">New Password: <i class="fa fa-exclamation-circle" toggle="popover" id="password1" data-trigger="hover" data-placement="bottom" data-content="Must contain at least 1 upper case, 1 lower case, 1 number and 1 special character. Minimum 8 characters" aria-hidden="true"></i></label>
                    <input type="password" name="resetPassword" id="inputRegister" class="form-control" ng-model="userResetPassword" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/" required>
                    <span ng-show="formReset.resetPassword.$dirty && formReset.resetPassword.$invalid" class="help-block">Enter a valid password</span>
                </div>
                <div class="form-group" ng-class="{'has-error': formReset.confirm_password.$dirty && (formReset.confirm_password.$error.required || formReset.confirm_password.$invalid)}">
                    <label class="control-label" for="confirm_password" id="confirm_password">Confirm Password:</label>
                    <input type="password" name="confirm_password" id="inputRegister" class="form-control" ng-model="confirmPassword" compare-to="userResetPassword" required />
                    <span ng-show="formReset.confirm_password.$dirty && formReset.confirm_password.$invalid" class="help-block">Enter a valid password</span>
                </div>
                <br />
                <div class="form-actions">
                    <button type="submit" ng-disabled="formReset.$invalid" class="btn btn-primary" ng-click="resetPasword()">Reset Password</button>
                </div>
                <br /><span class="spanError" style="margin-top:20px;" ng-show="errorMessage!=''"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{errorMessage}}</span>
                <span class="messageSuccess" style="margin-top:20px;" ng-show="forgetMessage!=''">{{forgetMessage}}</span>
            </form>
        </div>
    </div>
</body>
