@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<html ng-app="propertyManagerApp">
<head>
    @Scripts.Render("~/bundles/propertymanagerapp/script")
    @Styles.Render("~/bundles/propertymanagerapp/style")
    
</head>
<body> 
    <div>
        <div ng-view></div>
    </div>
</body>
</html>