@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<html ng-app="propertyManagerApp">
<head>
    @Scripts.Render("~/bundles/propertymanagerapp/script")
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
</head>
<body> 
    <div>
        <div ng-view></div>
    </div>
</body>
</html>