<html>
<head>
    <title>Facility</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="propertyManagerApp">
        <div ng-include='"/app/Partials/menu.html"'></div>
        <div id="page-wrapper">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchFacility">
                    </div>
                </div>
            </form>

           <table class="table-fill" style="float: left">
                <thead>
                    <tr>
                        <th style="width: 2%"></th>
                        <th class="text-left" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            Facility
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'name' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'name' && sortReverse"></i></span>
                        </th>
                        <th class="text-left" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                            Location
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'location' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'location' && sortReverse"></i></span>
                        </th>
                        <th class="text-left" ng-click="sortType = 'openTime'; sortReverse = !sortReverse">
                            Open Time
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'openTime' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'openTime' && sortReverse"></i></span>
                        </th>
                        <th class="text-left" ng-click="sortType = 'closeTime'; sortReverse = !sortReverse">
                            Close Time
                            <span><i class="fa fa-caret-up" ng-show="sortType == 'closeTime' && !sortReverse"></i></span>
                            <span><i class="fa fa-caret-down" ng-show="sortType == 'closeTime' && sortReverse"></i></span>
                        </th>
                    </tr>
                </thead>
                <tbody class="list-tbody" ng-repeat="facility in facilities | orderBy:sortType:sortReverse | filter:searchFacility" ng-class-odd="'list-row-odd'" ng-class-even="'list-row-even'">
                    <tr class="list-hover">
                        <td>
                            <i style="cursor: pointer" class="fa fa-minus" ng-if="facility.expanded" ng-click="facility.expanded = false; changeEdit();"></i>
                            <i style="cursor: pointer" class="fa fa-plus" ng-if="!facility.expanded" ng-click="facility.expanded = true;" ng-hide="isEdit"></i>
                        </td>
                        <td class="text-left">{{facility.FacilityName}}</td>
                        <td class="text-left">{{facility.Location}}</td>
                        <td class="text-left">{{facility.OpenTime | date:'hh:mm:ss a'}}</td>
                        <td class="text-left">{{facility.CloseTime | date:'hh:mm:ss a'}}</td>
                    </tr>
                    <!--DETAIL VIEW -->
                    <tr class="details-row" ng-if="facility.expanded" ng-repeat-end="" ng-hide="isEdit">
                        <td colspan="7">
                            <div class="detailDivTable" style="float:left">
                                <div class="detailDivTableBody">
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Facility:</div>
                                        <div class="detailDivTableCell">{{facility.FacilityName}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Location:</div>
                                        <div class="detailDivTableCell">{{facility.Location}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Description:</div>
                                        <div class="detailDivTableCell">{{facility.Description}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Status:</div>
                                        <div class="detailDivTableCell">{{facility.Status}}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Open Time:</div>
                                        <div class="detailDivTableCell">{{facility.OpenTime | date:'hh:mm:ss a' }}</div>
                                    </div>
                                    <div class="detailDivTableRow">
                                        <div class="detailDivTableHeader">Close Time:</div>
                                        <div class="detailDivTableCell">{{facility.CloseTime | date:'hh:mm:ss a' }}</div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" style="float:right" class="btn btn-primary" ng-click="editClick(facility)">Edit</button>
                        </td>
                    </tr>
                    <!--END DETAIL VIEW -->

                    <!--EDIT VIEW -->
                    <tr class="details-row" ng-if="facility.expanded" ng-repeat-end="" ng-show="isEdit">
                        <td colspan="7">
                            <div class="detailDivTableEdit">
                                <form name="form" id="form">
                                    <button type="submit" class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
                                    <div class="detailDivTableBodyEdit detailLeft">                                       
                                        <div class="detailDivTableRow">
                                            <div class="detailDivTableHeader">Facility:</div>
                                            <div class="detailDivTableCell">
                                                <input type="text" name="name_{{$index}}" id="name" class="form-control" ng-model="model.name" ng-pattern="/^[a-zA-Z ]+$/" required>
                                                <span ng-show="form['name_' + $index].$invalid || form['name_' + $index].$error.pattern">Enter facility name</span>
                                            </div>
                                        </div>
                                        <div class="detailDivTableRow">
                                            <div class="detailDivTableHeader">Location:</div>
                                            <div class="detailDivTableCell">
                                                <input type="text" name="location_{{$index}}" id="location" class="form-control" ng-model="model.location" ng-pattern="/^[a-zA-Z0-9 ]+$/" maxlength="20">
                                                <span ng-show="form['location_' + $index].$invalid || form['location_' + $index].$error.pattern">Invalid characters</span>
                                            </div>
                                        </div>
                                        <div class="detailDivTableRow">
                                            <div class="detailDivTableHeader">Description:</div>
                                            <div class="detailDivTableCell">
                                                <input type="text" name="description_{{$index}}" id="description" class="form-control" ng-model="model.description" ng-pattern="/^[a-zA-Z0-9 ]+$/" maxlength="30">
                                                <span ng-show="form['description_' + $index].$invalid || form['description_' + $index].$error.pattern">Invalid characters</span>
                                            </div>
                                        </div>                                       
                                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" style="margin-left: 110px" ng-click="editFacility(facility)">Submit</button>
                                                              
                                </div>

                                <div class="detailDivTableBodyEdit detailRight">
                                    
                                        <div class="detailDivTableRow">

                                            <div class="detailDivTableHeader">Status:</div>
                                            <div class="detailDivTableCell">
                                                <input type="text" name="status_{{$index}}" id="status" class="form-control" maxlength="10" ng-pattern="/^[a-zA-Z ]+$/" ng-model="model.status">
                                                <span ng-show="form['status_' + $index].$invalid || form['status_' + $index].$error.pattern">Invalid characters</span>
                                            </div>
                                        </div>
                                        <div class="detailDivTableRow">
                                            <div class="detailDivTableHeader">Open Time:</div>
                                            <div class="detailDivTableCell">
                                                <input type="time" name="openTime_{{$index}}" id="openTime" class="form-control" ng-model="model.openTime">
                                            </div>
                                        </div>
                                        <div class="detailDivTableRow">
                                            <div class="detailDivTableHeader">Close Time:</div>
                                            <div class="detailDivTableCell">
                                                <input type="time" name="closeTime_{{$index}}" id="closeTime" class="form-control" ng-model="model.closeTime">
                                            </div>
                                        </div>                          
                                    </div>
                                    </form>   
                                </div>                                                                                  
                        </td>
                    </tr>
                    <!--END EDIT VIEW -->
                </tbody>
            </table>

            <!-- EDIT <form name="form">

                <input type="text" name="name" id="name" class="form-control" placeholder="Name" ng-model="name">

                <input type="text" name="description" id="description" class="form-control" placeholder="description" ng-model="description">

                <input type="text" name="location" id="location" class="form-control" placeholder="location" ng-model="location">

                <input type="text" name="status" id="status" class="form-control" placeholder="status" ng-model="status">

                <input type="time" name="openTime" id="openTime" class="form-control" placeholder="Open Time" ng-model="openTime">

                <input type="time" name="closeTime" id="closeTime" class="form-control" placeholder="Close Time" ng-model="closeTime">

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="addFacility()">Add</button>
                </div>
                <input type="text" name="facilityId" id="facilityId" class="form-control" placeholder="Id" ng-model="facilityId">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="getFacility()">Get All</button>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="getFacilityById()">Get One</button>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="editFacility()">Edit</button>
                </div>              

            </form> -->
        </div>
</body>
</html>
