<html>
<head>
    <title>Book Facility</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="propertyManagerApp">
    <div ng-include='"/app/Partials/menu.html"'></div>
    <div id="page-wrapper-form" ng-hide="addOne">

        <!-- ADD VIEW-->
        <div ng-hide="isEdit">
            <div class="form-style-5" ng-hide="showConfirmation">
                <form name="form" id="form">
                    <fieldset>
                        <legend><span><i class="fa fa-tv" aria-hidden="true"></i></span> Book a Facility <button type="button" class="btn btn-primary cancelAddButton" ng-click="cancelAdd()">Cancel</button></legend>

                        <label class="control-label" for="facilityId">Facility</label>
                        <select ng-model="modelAdd.facilityId" name="facilityId" id="facilityId" required>
                            <option ng-repeat="facility in facilities" value="{{facility.Id}}">{{facility.FacilityName}}</option>
                        </select>
                        <span class="spanError" ng-show="form.facilityId.$invalid && !form.facilityId.$pristine">Enter a facility</span>   
                        
                        <label class="control-label" for="bookedDate">Book Date</label>
                        <input type="date" name="bookedDate" id="bookedDate" class="form-control" ng-model="modelAdd.bookedDate" required>
                        <span class="spanError" ng-show="form.bookedDate.$invalid && !form.bookedDate.$pristine">Enter valid book date</span>            

                        <label class="control-label" for="startTime">Start Time</label>
                        <input type="time" name="startTime" id="startTime" class="form-control" ng-model="modelAdd.startTime" required>
                        <span class="spanError" ng-show="form.startTime.$invalid && !form.startTime.$pristine">Enter valid start time</span>

                        <label class="control-label" for="endTime">End Time</label>
                        <input type="time" name="endTime" id="endTime" class="form-control" ng-model="modelAdd.endTime" required>
                        <span class="spanError" ng-show="form.endTime.$invalid && !form.endTime.$pristine">Enter a valid end time</span>

                        <label class="control-label" for="notes">Notes</label>
                        <input type="text" name="notes" id="notes" ng-model="modelAdd.notes" class="form-control" ng-pattern="/^[a-zA-Z\\.!\\?() ]+$/" maxlength="50">
                        <span class="spanError" ng-show="form.notes.$error.pattern || form.notes.$invalid && !form.notes.$pristine">Enter valid notes</span>
                    </fieldset>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary submitForm" ng-click="addFacilityBooking()">Book Facility </button>
                    <br /><span class="spanError" style="margin-top:20px;" ng-show="message!=''"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{message}}</span>
                </form>
            </div>
            <div class="detailDivTable addSuccessfull" style="float:left" ng-show="showConfirmation">
                <div class="detailDivTableBody">
                    <span class="messageSuccess">{{message}}</span>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Facility:</div>
                        <div class="detailDivTableCell">{{modelAdd.facilityName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Date:</div>
                        <div class="detailDivTableCell">{{modelAdd.bookedDate | date:'MM-dd-yyyy'}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Start Time:</div>
                        <div class="detailDivTableCell">{{modelAdd.startTime | date:'hh:mm:ss a' }}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">End Time:</div>
                        <div class="detailDivTableCell">{{modelAdd.endTime | date:'hh:mm:ss a' }}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Notes:</div>
                        <div class="detailDivTableCell">{{modelAdd.notes }}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Tenant:</div>
                        <div class="detailDivTableCell">{{modelAdd.tenantName}}</div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="goBack()">Back</button>
                    <button type="button" class="btn btn-primary" ng-click="addAnother()">Add another</button>
                </div>
            </div>
        </div>
        <!-- END ADD VIEW-->
        <!-- EDIT VIEW-->
        <div ng-show="isEdit">
            <div class="form-style-5" ng-hide="showEditConfirmation">
                <form name="formEdit" id="form">
                    <fieldset>
                        <legend><span class="number"></span> Add Facility <button type="button" class="btn btn-primary cancelAddButton" ng-click="cancelAdd()">Cancel</button></legend>

                        <label class="control-label" for="bookedDate">Book Date</label>
                        <input type="date" name="bookedDate" id="bookedDate" class="form-control" ng-model="modelEdit.bookedDate" required>
                        <span class="spanError" ng-show="formEdit.bookedDate.$invalid && !formEdit.bookedDate.$pristine">Enter valid book date</span>

                        <label class="control-label" for="startTime">Start Time</label>
                        <input type="time" name="startTime" id="startTime" class="form-control" ng-model="modelEdit.startTime" required>
                        <span class="spanError" ng-show="formEdit.startTime.$invalid && !formEdit.startTime.$pristine">Enter valid start time</span>

                        <label class="control-label" for="endTime">End Time</label>
                        <input type="time" name="endTime" id="endTime" class="form-control" ng-model="modelEdit.endTime" required>
                        <span class="spanError" ng-show="formEdit.endTime.$invalid && !formEdit.endTime.$pristine">Enter a valid end time</span>

                        <label class="control-label" for="notes">Notes</label>
                        <input type="text" name="notes" id="notes" ng-model="modelEdit.notes" class="form-control" ng-pattern="/^[a-zA-Z\\.!\\?() ]+$/">
                        <span class="spanError" ng-show="formEdit.notes.$error.pattern || formEdit.notes.$invalid && !form.notes.$pristine">Enter valid notes</span>
                    </fieldset>
                    <button type="submit" ng-disabled="formEdit.$invalid" class="btn btn-primary submitForm" ng-click="editFacilityBooking()">Edit Facility </button>
                    <br /><span class="spanError" style="margin-top:20px;" ng-show="message!=''"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{message}}</span>
                </form>
            </div>
            <div class="detailDivTable addSuccessfull" style="float:left" ng-show="showEditConfirmation">
                <div class="detailDivTableBody">
                    <span class="messageSuccess">{{message}}</span>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Facility:</div>
                        <div class="detailDivTableCell">{{modelEdit.facilityName}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Date:</div>
                        <div class="detailDivTableCell">{{modelEdit.bookedDate | date:'MM-dd-yyyy'}}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Start Time:</div>
                        <div class="detailDivTableCell">{{modelEdit.startTime | date:'hh:mm:ss a' }}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">End Time:</div>
                        <div class="detailDivTableCell">{{modelEdit.endTime | date:'hh:mm:ss a' }}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Notes:</div>
                        <div class="detailDivTableCell">{{modelEdit.notes }}</div>
                    </div>
                    <div class="detailDivTableRow">
                        <div class="detailDivTableHeader">Tenant:</div>
                        <div class="detailDivTableCell">{{modelEdit.tenantName}}</div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <!-- END EDIT VIEW-->

    </div>
</body>
</html>
